body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:aliceblue;
    margin: 0;
    padding: 0;
}


header{
    margin: 0;padding: 0;
    background-color: white;
}
.logo{
    margin: 1rem;
}
h1{
    display: inline-block;
    font-size: 2.5rem;
    vertical-align: bottom;
}

#corpo{
    background-color: white;
    margin: auto;
    width: 1000px;
    height: 1250px;
    margin-top: 2.5rem;
}
.bottoni{
    border-bottom: 2px solid aliceblue;
    margin: 10px;
    padding: 30px;
}
.first{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border-color: blue;
    width: 100px;
    height: 40px;
}
.second{
    background-color: white;
    color: lightsteelblue;
    border-radius: 5px;
    border-color: lightsteelblue;
    width: 100px;
    height: 40px;
}
.list-task {
    margin: 10px;
    padding: 30px;
}
.list-today {
    margin: 10px;
    padding: 30px;
}
.list-upcoming {
    margin: 10px;
    padding: 30px;
}

.check{
    font-size: 1rem;
    color:green;
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 70px;
    border-color: green;
    padding: 5px;
}
.cross{
    font-size: 1rem;
    color:brown;
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 70px;
    border-color: brown;
    padding: 5px;
}


.editorial{
    background-color: blue;
    color: white;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    
}
.qgoals{
    background-color:darkorchid;
    color: white;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
}
.recruiting{
    background-color:mediumseagreen ;
    color: white;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
}
.mobile{
    background-color: orange;
    color: white;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
}
.website{
    background-color: violet;
    color: white;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
}
.sales{
    background-color: greenyellow;
    color: white;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
}

